<h2 id="glitch-art">Glitch art</h2>
<div class="category-videos">
  <div class="year-videos">
    <div class="video">
      <video
        height="315"
        width="100%"
        poster="assets/images/crystal.png"
        preload="none"
        controls
      >
        <source src="assets/videos/crystal.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video">
      <video
        height="315"
        width="100%"
        poster="assets/images/repetition.png"
        preload="none"
        controls
      >
        <source src="assets/videos/repetition.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video">
      <video
        height="315"
        width="100%"
        poster="assets/images/monolitic.png"
        preload="none"
        controls
      >
        <source src="assets/videos/monolitic.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video">
      <video
        height="315"
        width="100%"
        poster="assets/images/growth.png"
        preload="none"
        controls
      >
        <source src="assets/videos/growth.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <h4>
      <a href="https://www.instagram.com/glitched_factory/"
        >More on Instagram</a
      >
    </h4>
  </div>
</div>
