<head>
  <meta charset="utf-8" />
  <title>Vincent Gabrielli - Projects</title>
  <meta
    name="description"
    content="Video projects of Vincent Gabrielli: directing, editing, vfx and calibrating."
  />
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Vincent Gabrielli - Projects" />
  <meta
    itemprop="description"
    content="Video project of Vincent Gabrielli: directing, editing, vfx and calibrating."
  />
  <meta
    itemprop="image"
    content="https://www.gabrielli-av.net/assets/images/vincent.jpg"
  />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.gabrielli-av.net" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Vincent Gabrielli - Projects" />
  <meta
    property="og:description"
    content="Video project of Vincent Gabrielli: directing, editing, vfx and calibrating."
  />
  <meta
    property="og:image"
    content="https://www.gabrielli-av.net/assets/images/vincent.jpg"
  />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Vincent Gabrielli - Projects" />
  <meta
    name="twitter:description"
    content="Video project of Vincent Gabrielli: directing, editing, vfx and calibrating."
  />
  <meta
    name="twitter:image"
    content="https://www.gabrielli-av.net/assets/images/vincent.jpg"
  />

  <meta name="author" content="Vincent Gabrielli" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/piddly.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📽</text></svg>"
  />
</head>
