<!DOCTYPE html>
<html lang="en">
  {{!head}}
  <body>
    <div class="content">
      {{!header}} {{!navigation}}
      <div class="experiences">
        <h3>Professional experiences</h3>
        <h4>
          March 2020 - Ongoing : Freelance Director / Editor / Motion Designer /
          VFX / Colorist
        </h4>
        <div>Advertisement, Documentary, Corporate, Clip, Fiction, TV</div>
        <div>
          <b>Clients : </b> Tipik, RTBF, Toyota, Lexus, L’Oreal, France TV,
          ETNO, Bleu Nuit, Beaucartel, LFF, RTL Belgium, ELIA , Volkswagen,
          Space FWD, DoubleDouble, LecterMedia, Hopitaux Iris Sud
        </div>
        <h4>
          March 2016 – March 2020 : Sherpah Video Projects – Audiovisual
          Production, Editor / Motion Designer
        </h4>
        <div>
          Documentary, Report, Corporate, Advertisement, Clip, Aftermovies, TV
        </div>
        <div>
          <b>Clients : </b>RTBF, RTL Belgium, Toyota, Lexus, ING, Child Focus,
          Volvo CE, D-Side, Euro-Ncap, European Commition, Bruxelles
          Environnement, FIA, Green Peace, Brussels Airport
        </div>
        <h4>
          November 2015 : Freelance – Audiovisual Production, Editor / Cameraman
        </h4>
        <div>Clip and corporate</div>
        <h4>
          April 2013 – May 2013 : R&G Production – Audiovisual Production,
          Editor
        </h4>
        <div>TV and reports</div>
      </div>
      <div class="third">
        <h3>Softwares</h3>
        <div>
          Adobe After Effects, Adobe Premiere Pro, Adobe Photoshop, Adobe
          Illustrator, Final Cut Pro, AVID Media Composer, DaVinci Resolve,
          Cinema4D
        </div>
      </div>
      <div class="third">
        <h3>Languages</h3>
        <div>
          <ul>
            <li>French : Native</li>
            <li>English : Mastered</li>
            <li>Spanish : Good understanding</li>
          </ul>
        </div>
      </div>
      <div class="third">
        <h3>Hobbies</h3>
        <div>
          <ul>
            <li>
              <a href="https://www.instagram.com/glitched_factory/"
                >Glitched Factory</a
              >
            </li>
            <li>Music (synth, guitar, bass & singing)</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
