h1 {color: #61acac;}
h2 {color: #de6f66}
nav > a {color: #61acac;}
nav > a:visited {color: #61acac;}
.root-sections {border-top: 1px dotted #f0f0f0;}
.root-sections {margin-top: 10px;}
.root-sections ul {padding-left: 0;}
.logo {width: 100px;}
.headline {border-bottom: none;}
.third {width: 32%; display: inline-block; vertical-align: top;}
.third div {padding: 0 20px;}
.video {width: 48%; display: inline-block; margin-bottom: 40px;}
.video h4 {margin: 10px 0 16px 0;}
.category-videos {padding: 0 30px;}
.year-videos .video:nth-child(even) {float: right;}
.bio {padding: 20px 30px;}
.bio h4 {margin: 0 0 10px 0;}
nav a {display: inline;}
.menu a {display: block;}
.experiences div {padding: 4px 20px;}
.tag{color: #f0f0f0;padding: 5px 10px; background-color: #4253b0; border-radius: 16px;}
.post-production {
    background: rgb(11,38,69);
    background: linear-gradient(90deg, rgba(11,38,69,1) 0%, rgba(153,87,91,1) 100%);
}
.director {
    background: rgb(66,166,176);
    background: linear-gradient(90deg, rgba(66,166,176,1) 0%, rgba(11,38,69,1) 100%);
}
.grading {
    background: rgb(153,87,91);
    background: linear-gradient(90deg, rgba(153,87,91,1) 0%, rgba(222,111,102,1) 100%);
}
video {background-color: #000;}
.main-section { width: calc(100% - 180px); }
.main-section, .menu { display: inline-block; vertical-align: top; }
.menu { width: 170px; margin-top: 40px; position: sticky; top: 10px; }
.menu a { border-bottom: 0; }
.content { width: 90%; }
@media (max-width: 767px) {
    .video {width: 100%; padding: unset;}
    .h1{font-size: 3rem;}
    .h2{font-size: 2.2rem;}
    .third {width: 100%;}
    .category-videos {padding: 0;}
    .content {width: 90%;}
    .main-section {width: 100%;}
    .menu { display: none; }
}
