<!DOCTYPE html>
<html lang="en">
  {{!head}}
  <body>
    <div class="content" id="top">
      {{!header}} {{!navigation}}
      <div class="main-section">{{video_section}} {{!glitch}}</div>
      <nav class="menu">
        <a href="#clips">Clips</a>
        <a href="#docu-portraits">Docu / Portraits</a>
        <a href="#advertisement">Advertisement</a>
        <a href="#corpo-instit">Corpo / Instit</a>
        <a href="#fiction">Fiction</a>
        <a href="#glitch-art">Glitch art</a>
        <a href="#top">Back to top</a>
      </nav>
    </div>
  </body>
</html>
