<div class="video">
  <iframe
    src="https://player.vimeo.com/video/{{video_id}}?byline=0&portrait=0&title=0"
    width="100%"
    height="315"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
    loading="lazy"
  ></iframe>
  <h4>{{title}}</h4>
  {{tags}}
</div>
